* {box-sizing:border-box}

h1{
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 40%;
    background-color: white;
    padding: 10px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.containers {
  display: none;
}

.back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

.indicator {
  cursor: pointer;
  height: 6px;
  width: 30px;
  margin: 0 3px;
  background-color: grey;
  display: inline-block;
}
