*{
    text-align: center;
}

.photoframe{
    text-align: center;
    display: block;
    position: relative;
}

.photodes{
    position: absolute;
    color: white;
    background-color: black;
    opacity: 50%;
    text-align: center;
    margin-left: 27%;
    padding-left: 14%;
    padding-right: 14%;
}